<div>
  <div class="row q-col-gutter-md">
    <div class="col-12 col-md-8">
      <key-pair
        :public-key="publicKey"
        :private-key="privateKey"
        :merchant-config="merchantConfig"
      ></key-pair>
    </div>
    <div class="col-12 col-md-4">
      <q-card flat bordered>
        <q-card-section>
          <h6 class="text-subtitle1 q-my-none">Nostr Market Extension</h6>
        </q-card-section>
        <q-card-section class="q-pa-none">
          <q-separator></q-separator>
          <q-list>
            <q-expansion-item group="api" dense icon="info" label="About">
              <q-card>
                <q-card-section>
                  A decentralized marketplace powered by Nostr and Lightning
                  Network. Create stalls, add products, and start selling with
                  Bitcoin.
                </q-card-section>
              </q-card>
            </q-expansion-item>
            <q-expansion-item
              group="api"
              dense
              icon="link"
              label="Market Client"
            >
              <q-card>
                <q-card-section>
                  <a :href="marketClientUrl" target="_blank"
                    >Open Market Client</a
                  >
                </q-card-section>
              </q-card>
            </q-expansion-item>
          </q-list>
        </q-card-section>
      </q-card>
    </div>
  </div>
</div>
