<div>
  <q-btn-dropdown
    split
    unelevated
    color="primary"
    icon="public"
    label="Zones"
    @click="openZoneDialog()"
  >
    <q-list>
      <q-item clickable v-close-popup @click="openZoneDialog()">
        <q-item-section>
          <q-item-label>New Shipping Zone</q-item-label>
          <q-item-label caption>Create a new shipping zone</q-item-label>
        </q-item-section>
      </q-item>
      <q-item
        v-for="zone of zones"
        :key="zone.id"
        clickable
        v-close-popup
        @click="openZoneDialog(zone)"
      >
        <q-item-section>
          <q-item-label><span v-text="zone.name"></span></q-item-label>
          <q-item-label caption
            ><span v-text="zone.countries.join('', '')"></span
          ></q-item-label>
        </q-item-section>
      </q-item> </q-list
  ></q-btn-dropdown>

  <q-dialog v-model="zoneDialog.showDialog" position="top">
    <q-card class="q-pa-lg q-pt-xl" style="width: 500px">
      <q-form @submit="sendZoneFormData" class="q-gutter-md">
        <q-input
          filled
          dense
          label="Zone Name"
          type="text"
          v-model.trim="zoneDialog.data.name"
        ></q-input>
        <q-select
          filled
          dense
          multiple
          :options="shippingZoneOptions"
          label="Countries"
          v-model="zoneDialog.data.countries"
        ></q-select>
        <div class="row items-start">
          <div class="col q-mr-sm">
            <q-input
              filled
              dense
              label="Default shipping cost"
              fill-mask="0"
              reverse-fill-mask
              :step="zoneDialog.data.currency != 'sat' ? '0.01' : '1'"
              type="number"
              v-model.trim="zoneDialog.data.cost"
              :error="(zoneDialog.data.currency === 'sat' && zoneDialog.data.cost % 1 !== 0) || (zoneDialog.data.currency !== 'sat' && (zoneDialog.data.cost * 100) % 1 !== 0)"
              :error-message="zoneDialog.data.currency === 'sat' ? 'Satoshis must be whole numbers' : 'Maximum 2 decimal places allowed'"
              hint="Additional costs can be set per product"
            ></q-input>
          </div>
          <div class="col-auto">
            <q-select
              :disabled="!!zoneDialog.data.id"
              :readonly="!!zoneDialog.data.id"
              filled
              dense
              v-model="zoneDialog.data.currency"
              type="text"
              label="Currency"
              :options="currencies"
              style="min-width: 100px"
            ></q-select>
          </div>
        </div>
        <div class="row q-mt-lg">
          <div v-if="zoneDialog.data.id">
            <q-btn unelevated color="primary" type="submit">Update</q-btn>
            <q-btn
              @click="deleteShippingZone()"
              class="q-ml-md"
              unelevated
              color="pink"
              >Delete</q-btn
            >
          </div>
          <div v-else>
            <q-btn
              unelevated
              color="primary"
              :disable="!zoneDialog.data.name || !zoneDialog.data.countries || !zoneDialog.data.countries.length || (zoneDialog.data.currency === 'sat' && zoneDialog.data.cost % 1 !== 0) || (zoneDialog.data.currency !== 'sat' && (zoneDialog.data.cost * 100) % 1 !== 0)"
              type="submit"
              >Create Shipping Zone</q-btn
            >
          </div>

          <q-btn v-close-popup flat color="grey" class="q-ml-auto"
            >Cancel</q-btn
          >
        </div>
      </q-form>
    </q-card>
  </q-dialog>
</div>
