<div>
  <q-btn-dropdown
    split
    unelevated
    color="primary"
    icon="storefront"
    label="Merchant"
  >
    <q-list>
      <q-item disable clickable v-close-popup>
        <q-item-section>
          <q-item-label>Merchant Profile</q-item-label>
          <q-item-label caption
            >Edit the merchand name, description, etc</q-item-label
          >
        </q-item-section>
      </q-item>
      <q-item @click="toggleMerchantKeys" clickable v-close-popup>
        <q-item-section>
          <q-item-label v-if="!showKeys">Show Keys</q-item-label>
          <q-item-label v-else>Hide Keys</q-item-label>
          <q-item-label caption
            >Show merchant public and private keys</q-item-label
          >
        </q-item-section>
      </q-item>
      <q-item @click="requeryMerchantData" clickable v-close-popup>
        <q-item-section>
          <q-item-label>Refresh from Nostr</q-item-label>
          <q-item-label caption
            >Requery all stalls, products and orders from Nostr</q-item-label
          >
        </q-item-section>
      </q-item>
      <q-item @click="republishMerchantData" clickable v-close-popup>
        <q-item-section>
          <q-item-label>Republish to Nostr</q-item-label>
          <q-item-label caption
            >Republish all stalls, products and orders to Nostr</q-item-label
          >
        </q-item-section>
      </q-item>

      <q-item @click="deleteMerchantTables" clickable v-close-popup>
        <q-item-section>
          <q-item-label>Delete from DB</q-item-label>
          <q-item-label caption
            >Delete all stalls, products and orders from database</q-item-label
          >
        </q-item-section>
      </q-item>
      <q-item @click="deleteMerchantFromNostr" clickable v-close-popup>
        <q-item-section>
          <q-item-label>Delete from Nostr</q-item-label>
          <q-item-label caption
            >Delete all stalls, products and orders from Nostr</q-item-label
          >
        </q-item-section>
      </q-item>
    </q-list></q-btn-dropdown
  >
</div>
