<div>
  <div id="product-focus-area"></div>
  <div v-if="productDetail && product" class="row">
    <div class="col-12 auto-width">
      <product-detail :product="product" @add-to-cart="addToCart"></product-detail>
    </div>

    <div class="col-12 q-my-lg">
      <q-separator></q-separator>
    </div>
  </div>
  <div class="row q-col-gutter-md">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" v-for="(item, idx) in products" :key="idx">
      <product-card :product="item" @change-page="changePageS" @add-to-cart="addToCart" :is-stall="true"></product-card>
    </div>
  </div>

</div>