<q-card>
  <q-card-section>
    <p>
      Nostr Market<br />
      <small>
        Created by,
        <a
          class="text-secondary"
          target="_blank"
          style="color: unset"
          href="https://github.com/talvasconcelos"
          >Tal Vasconcelos</a
        >
        <a
          class="text-secondary"
          target="_blank"
          style="color: unset"
          href="https://github.com/benarc"
          >Ben Arc</a
        >
        <a
          class="text-secondary"
          target="_blank"
          style="color: unset"
          href="https://github.com/motorina0"
          >motorina0</a
        ></small
      >
    </p>
    <a
      class="text-secondary"
      target="_blank"
      href="/docs#/nostrmarket"
      class="text-white"
      >Swagger REST API Documentation</a
    >
  </q-card-section>
</q-card>
