{% extends "base.html" %} {% from "macros.jinja" import window_vars with context
%} {% block page %}
<div class="row q-col-gutter-md">
  <div class="col-12 col-md-7 q-gutter-y-md">
    <q-card v-if="!merchant">
      <q-card-section>
        <span class="text-h4">Wellcome to Nostr Market!</span><br />
        In Nostr Market, merchant and customer communicate via NOSTR relays, so
        loss of money, product information, and reputation become far less
        likely if attacked.
      </q-card-section>
      <q-card-section>
        <span class="text-h4">Terms</span><br />
        <ul>
          <li>
            <span class="text-bold">merchant</span> - seller of products with
            NOSTR key-pair
          </li>
          <li>
            <span class="text-bold">customer</span> - buyer of products with
            NOSTR key-pair
          </li>
          <li>
            <span class="text-bold">product</span> - item for sale by the
            merchant
          </li>
          <li>
            <span class="text-bold">stall</span> - list of products controlled
            by merchant (a merchant can have multiple stalls)
          </li>
          <li>
            <span class="text-bold">marketplace</span> - clientside software for
            searching stalls and purchasing products
          </li>
        </ul>
      </q-card-section>
      <q-card-section>
        <div class="row">
          <div class="col-12">
            <q-btn
              disabled
              label="Import Key"
              color="primary"
              class="float-left"
            >
              <q-tooltip> Use an existing private key (hex or npub) </q-tooltip>
            </q-btn>
            <q-btn
              label="Generate New Key"
              color="green"
              @click="generateKeys"
              class="float-right"
            >
              <q-tooltip> A new key pair will be generated for you </q-tooltip>
            </q-btn>
          </div>
        </div>
      </q-card-section>
    </q-card>
    <div v-else>
      <q-card>
        <q-card-section>
          <div class="row">
            <div class="col-6"></div>
            <div class="col-4">
              <shipping-zones
                :inkey="g.user.wallets[0].inkey"
                :adminkey="g.user.wallets[0].adminkey"
              ></shipping-zones>
            </div>
            <div class="col-2">
              <q-btn
                @click="showKeys = !showKeys"
                :label="showKeys ? 'Hide Keys' : 'Show Keys'"
                color="primary"
              >
                <q-tooltip> Show Public or Private keys </q-tooltip>
              </q-btn>
            </div>
          </div>
        </q-card-section>
        <q-card-section v-if="showKeys">
          <key-pair
            :public-key="merchant.public_key"
            :private-key="merchant.private_key"
          ></key-pair>
        </q-card-section>
      </q-card>
    </div>
    <q-card>
      <q-card-section>
        <div class="row">
          <div class="col-6"></div>
          <div class="col-6"></div>
        </div>
      </q-card-section>
    </q-card>
  </div>

  <div class="col-12 col-md-5 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <h6 class="text-subtitle1 q-my-none">
          {{SITE_TITLE}} Nostr Market Extension
        </h6>
      </q-card-section>
      <q-card-section class="q-pa-none">
        <q-separator></q-separator>
        <q-list> {% include "nostrmarket/_api_docs.html" %} </q-list>
      </q-card-section>
    </q-card>
  </div>
</div>
{% endblock%}{% block scripts %} {{ window_vars(user) }}
<script src="https://unpkg.com/nostr-tools/lib/nostr.bundle.js"></script>

<script src="{{ url_for('nostrmarket_static', path='js/utils.js') }}"></script>
<script src="{{ url_for('nostrmarket_static', path='components/stall-details/stall-details.js') }}"></script>
<script src="{{ url_for('nostrmarket_static', path='components/key-pair/key-pair.js') }}"></script>
<script src="{{ url_for('nostrmarket_static', path='components/shipping-zones/shipping-zones.js') }}"></script>
<script src="{{ url_for('nostrmarket_static', path='js/index.js') }}"></script>

{% endblock %}
