{% extends "public.html" %} {% block page %}
<q-layout view="hHh Lpr lff">
  <q-drawer v-model="drawer" side="left">
    <q-toolbar class="bg-primary text-white shadow-2">
      <q-toolbar-title>Settings</q-toolbar-title>
      <q-btn flat round dense icon="close" @click="drawer = !drawer"></q-btn>
    </q-toolbar>
    <div class="q-pa-md">
      <q-list padding>
        <q-expansion-item
          expand-separator
          icon="perm_identity"
          label="Merchants"
          caption="Add/Remove pubkeys"
        >
          <q-card>
            <q-card-section>
              <q-input
                filled
                v-model="inputPubkey"
                @keydown.enter="addPubkey"
                type="text"
                label="Pubkey/Npub"
                hint="Add merchants"
              >
                <q-btn @click="addPubkey" dense flat icon="add"></q-btn>
              </q-input>
              <q-list class="q-mt-md">
                <q-item v-for="pub in Array.from(pubkeys)" :key="pub">
                  {%raw%}
                  <q-item-section avatar>
                    <q-avatar>
                      <img
                        v-if="profiles.get(pub) && profiles.get(pub).picture"
                        :src="profiles.get(pub).picture"
                      />
                      <img
                        v-else
                        src="/nostrmarket/static/images/blank-avatar.webp"
                      />
                    </q-avatar>
                  </q-item-section>
                  <q-item-section>
                    <q-item-label
                      v-if="profiles.get(pub) && profiles.get(pub).name"
                      >{{ profiles.get(pub).name }}</q-item-label
                    >
                    <q-item-label v-else
                      >{{ `${pub.slice(0, 5)}...${pub.slice(-5)}`
                      }}</q-item-label
                    >
                    <q-tooltip>{{ pub }}</q-tooltip>
                  </q-item-section>
                  <q-item-section side>
                    <q-btn
                      class="gt-xs"
                      size="12px"
                      flat
                      dense
                      round
                      icon="delete"
                      @click="removePubkey(pub)"
                    />
                  </q-item-section>
                  {%endraw%}
                </q-item>
              </q-list>
            </q-card-section>
          </q-card>
        </q-expansion-item>
        <q-expansion-item
          expand-separator
          icon="perm_identity"
          label="Relays"
          caption="Add/Remove relays"
        >
          <q-card>
            <q-card-section>
              <q-input
                filled
                v-model="inputRelay"
                @keydown.enter="addRelay"
                type="text"
                label="Relay URL"
                hint="Add relays"
              >
                <q-btn @click="addRelay" dense flat icon="add"></q-btn>
              </q-input>
              <q-list dense class="q-mt-md">
                <q-item v-for="url in Array.from(relays)" :key="url">
                  {%raw%}
                  <q-item-section>
                    <q-item-label>{{ url }}</q-item-label>
                  </q-item-section>
                  <q-item-section side>
                    <q-btn
                      class="gt-xs"
                      size="12px"
                      flat
                      dense
                      round
                      icon="delete"
                      @click="removeRelay(url)"
                    />
                  </q-item-section>
                  {%endraw%}
                </q-item>
              </q-list>
            </q-card-section>
          </q-card>
        </q-expansion-item>
      </q-list>
    </div>
  </q-drawer>
  <q-page-container>
    <div class="row q-mb-md">
      <div class="col-12 q-gutter-y-md">
        <q-toolbar>
          <q-btn flat round dense icon="menu" @click="drawer = !drawer"></q-btn>
          {%raw%}
          <q-toolbar-title style="text-transform: capitalize">
            {{ activePage }}
          </q-toolbar-title>
          {%endraw%}
          <q-input
            class="float-left q-ml-md"
            standout
            square
            dense
            outlined
            clearable
            v-model.trim="searchText"
            label="Search for products"
          >
            <template v-slot:append>
              <q-icon v-if="!searchText" name="search" />
            </template>
          </q-input>
        </q-toolbar>
      </div>
    </div>
    <customer-stall
      v-if="!isLoading && activeStall"
      :stall="stalls.find(stall => stall.id == activeStall)"
      :products="filterProducts"
      :exchange-rates="exchangeRates"
      :product-detail="activeProduct"
      @change-page="navigateTo"
    ></customer-stall>
    <customer-market
      v-else
      :products="filterProducts"
      :exchange-rates="exchangeRates"
      @change-page="navigateTo"
    ></customer-market>
  </q-page-container>
</q-layout>
{% endblock %} {% block scripts %}
<script src="https://unpkg.com/nostr-tools/lib/nostr.bundle.js"></script>

<script src="{{ url_for('nostrmarket_static', path='js/utils.js') }}"></script>
<script src="{{ url_for('nostrmarket_static', path='components/product-card/product-card.js') }}"></script>
<script src="{{ url_for('nostrmarket_static', path='components/customer-market/customer-market.js') }}"></script>
<script src="{{ url_for('nostrmarket_static', path='components/customer-stall/customer-stall.js') }}"></script>
<script src="{{ url_for('nostrmarket_static', path='components/product-detail/product-detail.js') }}"></script>
<script src="{{ url_for('nostrmarket_static', path='components/shopping-cart/shopping-cart.js') }}"></script>
<script src="{{ url_for('nostrmarket_static', path='js/market.js') }}"></script>

{% endblock %}
