<div>


  <q-infinite-scroll v-if="showProducts" @load="onLoad" :offset="250">
    <div class="row q-col-gutter-md">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" v-for="(item, idx) in partialProducts" :key="idx">
        <product-card :product="item" @change-page="changePageM" @add-to-cart="addToCart"></product-card>
      </div>
    </div>
    <template v-if="lastProductIndex < filteredProducts.length" v-slot:loading>
      <div class="row justify-center q-my-md">
        <q-spinner-dots color="primary" size="40px" />
      </div>
    </template>
  </q-infinite-scroll>
</div>
</div>