<div>
  <div v-if="searchNostr" class="row q-col-gutter-md">
    <div class="col-12 col-md-7 q-gutter-y-md">
      <q-card>
        <q-card-section>
          <div class="row items-center no-wrap q-mb-md">
            <div class="col">
              <h5 class="text-subtitle1 q-my-none">Search Globally</h5>
              <p>Search for products on Nostr</p>
            </div>
          </div>
        </q-card-section>
        <q-card-section>
          <q-input
            class="q-ml-md"
            standout
            square
            dense
            outlined
            clearable
            v-model.trim="search"
            label="Search products"
            @keydown.enter="searchProducts"
            hint="Enter search terms separated by spaces"
          >
            <template v-slot:after>
              <q-btn
                dense
                flat
                icon="search"
                label="Search"
                @click="searchProducts"
              />
            </template>
          </q-input>
        </q-card-section>
      </q-card>
    </div>
  </div>
  <q-toolbar>
    <q-breadcrumbs>
      <q-breadcrumbs-el label="Market" icon="home"></q-breadcrumbs-el>
    </q-breadcrumbs>
  </q-toolbar>
  <div class="row q-col-gutter-md">
    <div
      class="col-xs-12 col-sm-6 col-md-4 col-lg-3"
      v-for="(item, idx) in products"
      :key="idx"
    >
      <product-card :product="item" @change-page="changePageM"></product-card>
    </div>
  </div>
</div>
