<q-card>
  <q-card-section>
    <div class="q-pt-md">
      <div class="q-gutter-y-md">
        <q-tabs v-model="tab" active-color="primary" align="justify">
          <q-tab name="merchants" label="Merchants" @update="val => tab = val.name"></q-tab>
          <q-tab name="relays" label="Relays" @update="val => tab = val.name"></q-tab>
          <q-tab name="marketplace" label="Look And Feel" @update="val => tab = val.name"></q-tab>

        </q-tabs>
      </div>
    </div>
  </q-card-section>
  <q-separator />
  <q-card-section>
    <div class="q-pa-md">
      <div class="q-gutter-y-md">
      
        <q-tab-panels v-model="tab">
          <q-tab-panel name="merchants">
            <div>
              <q-input outlined v-model="merchantPubkey" @keydown.enter="addMerchant" type="text" label="Pubkey/Npub"
                hint="Add merchants">
                <q-btn @click="addMerchant" dense flat icon="add"></q-btn>
              </q-input>
              <q-list class="q-mt-md">
                <q-item v-for="{publicKey, profile} in merchants" :key="publicKey">

                  <q-item-section avatar>
                    <q-avatar>
                      <img v-if="profile?.picture" :src="profile.picture" />
                      <img v-else src="/nostrmarket/static/images/blank-avatar.webp" />
                    </q-avatar>
                  </q-item-section>
                  <q-item-section class="q-mt-sm">
                    <q-item-label><strong>{{ profile?.name}}</strong></q-item-label>
                    <q-item-label>
                      <div class="text-caption text-grey ellipsis-2-lines">
                        <p>{{ publicKey }}</p>
                      </div>
                    </q-item-label>
                    <q-tooltip>{{ publicKey }}</q-tooltip>
                  </q-item-section>
                  <q-item-section side>
                    <q-btn size="12px" flat dense round icon="delete" @click="removeMerchant(publicKey)" />
                  </q-item-section>

                </q-item>
              </q-list>
            </div>
          </q-tab-panel>
          <q-tab-panel name="relays">
            <div>
              <div>
                <q-input outlined v-model="relayUrl" @keydown.enter="addRelay" type="text" label="wss://"
                  hint="Add realays">
                  <q-btn @click="addRelay" dense flat icon="add"></q-btn>
                </q-input>
                <q-list class="q-mt-md">
                  <q-item v-for="relay in relays" :key="relay">

                    <q-item-section avatar>
                      <!-- <q-avatar>
                        <img v-if="profile?.picture" :src="profile.picture" />
                        <img v-else src="/nostrmarket/static/images/blank-avatar.webp" />
                      </q-avatar> -->
                    </q-item-section>
                    <q-item-section class="q-mt-sm">
                      <q-item-label><strong>{{ relay}}</strong></q-item-label>
                      <!-- <q-item-label>
                        <div class="text-caption text-grey ellipsis-2-lines">
                          <p>{{ publicKey }}</p>
                        </div>
                      </q-item-label> -->
                      <!-- <q-tooltip>{{ publicKey }}</q-tooltip> -->
                    </q-item-section>
                    <q-item-section side>
                      <q-btn size="12px" flat dense round icon="delete" @click="removeRelay(relay)" />
                    </q-item-section>

                  </q-item>
                </q-list>
              </div>
            </div>
          </q-tab-panel>
          <q-tab-panel name="marketplace">
            <div class="q-mb-md"> <strong>Information</strong></div>
            <q-input outlined v-model="info.name" type="text" label="Marketplace Name" class="q-mb-md">
            </q-input>

            <q-input outlined v-model="info.description" type="textarea" rows="3" label="Marketplace Description"
              class="q-mb-lg"></q-input>
            <div class="q-mb-md q-mt-lg">
              <strong>UI Configurations</strong>
            </div>
            <q-input outlined v-model="info.theme" type="text" label="Theme" class="q-mb-md">
            </q-input>
            <q-input outlined v-model="info.logo" type="text" label="Logo" class="q-mb-md">
            </q-input>
            <q-input outlined v-model="info.banner" type="text" label="Banner" class="q-mb-md">
            </q-input>


          </q-tab-panel>

        </q-tab-panels>

      </div>
    </div>
  </q-card-section>
  <q-separator />
  <q-card-section>
    <div class="float-right">
      <q-btn flat label="Copy Naddr" color="green"></q-btn>
      <q-btn flat label="Update" color="primary"></q-btn>
    </div>
  </q-card-section>
  <q-card-section></q-card-section>
</q-card>